<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UrbanStyle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>com.proyect.servlet.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoServlet</display-name>
    <servlet-name>ProductoServlet</servlet-name>
    <servlet-class>com.proyect.servlet.ProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoServlet</servlet-name>
    <url-pattern>/ProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductoImgServlet</display-name>
    <servlet-name>ProductoImgServlet</servlet-name>
    <servlet-class>com.proyect.servlet.ProductoImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductoImgServlet</servlet-name>
    <url-pattern>/ProductoImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarDaoImpl</display-name>
    <servlet-name>ValidarDaoImpl</servlet-name>
    <servlet-class>com.proyect.servlet.ValidarDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarDaoImpl</servlet-name>
    <url-pattern>/ValidarDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarServlet</display-name>
    <servlet-name>ValidarServlet</servlet-name>
    <servlet-class>com.proyect.servlet.ValidarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarServlet</servlet-name>
    <url-pattern>/ValidarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrServlet</display-name>
    <servlet-name>RegistrServlet</servlet-name>
    <servlet-class>com.proyect.servlet.RegistrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrServlet</servlet-name>
    <url-pattern>/RegistrServlet</url-pattern>
  </servlet-mapping>
</web-app>